.fill{
    background: url(../Venti.jfif) no-repeat fixed center;
    max-width: 100%;
    height: max-content;
    background-size: cover;
    margin: 0px;
}
.hd1{
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 7vw;
}
.t1{
    color: white;
    padding: 10px;
}
ul{
    margin: 0px;
}
@keyframes color-change{
    0% {color: red;}
    25% {color: magenta}
    50% {color: blue;}
    75% {color: green;}
    100% {color: yellow;}
}
.nt{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: inline;
    font-size: 30px;
    font-weight: bold;
    animation: color-change 1s infinite;
}
.list{
    margin-left: 30px;
    font-size: 3vmax;
    color: white;
}
.lk{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 3vmax;
    color: white;
    display: block;
    margin: 5px;
}
.noti{
    display: table;
    color: white;
    width: 100%;
    padding: 0px;
}

