body{
    margin: 5vw;
    font-family: 'Times New Roman', Times, serif;
}
#heading{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: coral;
}
#heading2{
    font-weight: bold;
    font-size: 20px;
    color: coral;
}
#subh{
    /* margin-top: 7px;
    margin-left: 100px; */
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    color: black;
}
li{
    list-style-type: none;
}
ul{
    padding: 0px 0px 0px 35px;
}
#pr1{
    margin: 10px 40px 10px 35px;
    text-align: justify;
}
.geninfo{
    margin: 10px auto;
    font-weight: bold;
}
.email{
    font-weight: normal;
    cursor: pointer;
}
.email:link{
    color: coral
}
.email:hover{
    color: lightgreen
}
.perinfo{
    margin: 10px 40px 10px 0px;
    text-align: justify;
}